# Зависимости (если будут)
node_modules/
vendor/

# Файлы окружения и конфиденциальные данные
.env
.env.local
.DS_Store

# Логи
*.log
npm-debug.log*

# Временные файлы редакторов
*.swp
*.swo
*~

# Файлы ОС
Thumbs.db
